/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@import "tailwindcss" important;

// html,
// body {
//   height: 100%;
// }
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  //override mat button styles
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-full;
  }
}

.container {
  @apply m-auto max-w-screen-xl;
}

.text-primary {
  color: #7d00fa;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snackbar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snackbar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
